<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<connectionStrings>
		<add name ="ConnectionCurrencyConverterDb" 
			 connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=C:\Users\Ferna\source\repos\WPFConverter\WPFConverter\DataBase\CurrencyConverterDb.mdf;Integrated Security=True"/>
	</connectionStrings>
</configuration>